@import "tailwindcss";

@theme {
  --color-navy: #1e293b;
  --color-navy-light: #334155;

  --color-primary: #0058be;
  --color-primary-light: #3b82f6;
  --color-primary-dark: #004395;

  --color-surface: #f8f9ff;
  --color-border: #e2e8f0;
  --color-muted: #64748b;
  --color-ink: #0b1c30;

  --font-sans: "Inter", sans-serif;
  --font-heading: "Space Grotesk", sans-serif;
}